In [41]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
#Load Data Set
df = pd.read_csv('D:\Franklin\Study Materials\Data-612\HW-01\Teams.csv')
df

,yearID,lgID,teamID,franchID,divID,Rank,Ghome,DivWin,WCWin,LgWin,WSWin,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,NaN,NaN,NaN,N,NaN,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,NaN,NaN,NaN,N,NaN,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,NaN,NaN,NaN,N,NaN,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,NaN,NaN,NaN,N,NaN,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,NaN,NaN,NaN,N,NaN,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2019,NL,SLN,STL,C,1,81.0,Y,N,N,N,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,2019,AL,TBA,TBD,E,2,81.0,N,Y,N,N,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,2019,AL,TEX,TEX,W,3,81.0,N,N,N,N,Texas Rangers,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,2019,AL,TOR,TOR,E,4,81.0,N,N,N,N,Toronto Blue Jays,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,2019,NL,WAS,WSN,E,2,81.0,N,Y,Y,Y,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [43]:
# Show the .head() of the data set
df.head(3)

,yearID,lgID,teamID,franchID,divID,Rank,Ghome,DivWin,WCWin,LgWin,WSWin,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,NaN,NaN,NaN,N,NaN,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,NaN,NaN,NaN,N,NaN,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,NaN,NaN,NaN,N,NaN,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1

In [44]:
# Show the .tail() of the data set
df.tail(6)

,yearID,lgID,teamID,franchID,divID,Rank,Ghome,DivWin,WCWin,LgWin,WSWin,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
2919,2019,NL,SFN,SFG,W,3,81.0,N,N,N,N,San Francisco Giants,Oracle Park,2707760.0,94,95,SFG,SFN,SFN
2920,2019,NL,SLN,STL,C,1,81.0,Y,N,N,N,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,2019,AL,TBA,TBD,E,2,81.0,N,Y,N,N,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,2019,AL,TEX,TEX,W,3,81.0,N,N,N,N,Texas Rangers,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,2019,AL,TOR,TOR,E,4,81.0,N,N,N,N,Toronto Blue Jays,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,2019,NL,WAS,WSN,E,2,81.0,N,Y,Y,Y,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [45]:
# Print coloumns name
print(df.columns)

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'Ghome',
       'DivWin', 'WCWin', 'LgWin', 'WSWin', 'name', 'park', 'attendance',
       'BPF', 'PPF', 'teamIDBR', 'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [46]:
# Print Data types
df.dtypes

yearID              int64
lgID               object
teamID             object
franchID           object
divID              object
Rank                int64
Ghome             float64
DivWin             object
WCWin              object
LgWin              object
WSWin              object
name               object
park               object
attendance        float64
BPF                 int64
PPF                 int64
teamIDBR           object
teamIDlahman45     object
teamIDretro        object
dtype: object

In [47]:
# Print number of rows and columns
df.shape

(2925, 19)

In [48]:
df.isnull().sum()

yearID               0
lgID                50
teamID               0
franchID             0
divID             1517
Rank                 0
Ghome              399
DivWin            1545
WCWin             2181
LgWin               28
WSWin              357
name                 0
park                34
attendance         279
BPF                  0
PPF                  0
teamIDBR             0
teamIDlahman45       0
teamIDretro          0
dtype: int64

In [49]:
df.groupby('name')['BPF'].mean().head()

name
Altoona Mountain City    101.000000
Anaheim Angels           100.125000
Arizona Diamondbacks     105.409091
Atlanta Braves           102.962963
Baltimore Canaries       103.000000
Name: BPF, dtype: float64

In [50]:
df.groupby(['name', 'yearID'])[['BPF','PPF']].mean()

                                BPF    PPF
name                  yearID
Altoona Mountain City 1884    101.0  109.0
Anaheim Angels        1997    102.0  102.0
                      1998    102.0  102.0
                      1999     99.0  100.0
                      2000    102.0  103.0
...                             ...    ...
Washington Statesmen  1891     95.0  100.0
Wilmington Quicksteps 1884    103.0  109.0
Worcester Ruby Legs   1880    108.0  109.0
                      1881    105.0  108.0
                      1882    102.0  107.0

[2922 rows x 2 columns]